@font-face {
  font-family: 'helveticaneuelight';
  src: url('../../../assets/fonts/HelveticaNeue Light.ttf') ;
}

@font-face {
  font-family: 'condensedbold';
  src: url('../../../assets/fonts/Condensed-Bold.ttf') ;
}

