$fonts:(
	helveticaneuelight: 'helveticaneuelight',
	condensedbold: 'condensedbold',
	);
$colors: (
  blanco:#fff,
  azulprimary:#00204a,
  primary:#005792,
  azulcielo:#2F87A9,
  azuladmyo:    #005d8f,
  succes: #00a65a,
  orange:#f7ac43,
  naranja:  #fdb44b,
  danger:     #f53d3d,
  dark:       #222,
  gary-lte:  #d2d6de,
  aqua: #00CEFF,
  yellow: #f39c12,
  blue: #0073b7,
  navy: #001F3F,
  teal: #39CCCC,
  olive: #3D9970,
  lime: #01FF70,
  secondary: #FF851B,
  fuchsia: #B62E72,
  rosa:#FF8D9E,
  azulb:#3087AA,
  azulc:#073351,
  purple: #605ca8,
  maroon: #E3001B,
  blackk: #000,
  dark-2: #222d32,
  light-gray: #444,
  alight-gray:#777,
  newGray:#646464
);
$gamagrises:(
gris1:#f4f3f3,
gris2:#dfdfdf,
gris3:#393e46,
girsmenu:#555,
gris4:#eaeaea,
gris5:#dae1e7,
gris6:#6c757d,
grismenuopaco:rgba(#555,0.6)
	);
$spaceamounts: (1,2,3,4,5, 10, 15, 20, 25, 30, 35, 40, 45, 50,55,60,65,70, 75,80,85,90,95,100,110,120,130,140);
$spacefont: (100,200,300,400,500,600,700,800,900);
$sides: (top, bottom, left, right);

@each $profile, $font in $fonts {
  @each $space in $spacefont {
    .text-#{$profile}-#{$space}{
      font-family: $font !important;
      font-weight: $space;
    }
  }
}
@each $space in $spaceamounts {
  .p-#{$space} {
    padding: #{$space}px !important;
   }
   .wpx-#{$space} {
    width: #{$space}px !important;
   }
   .hpx-#{$space} {
    height: #{$space}px !important;
   }
   .textf-#{$space}{
    font-size: #{$space}px !important;
   }
	@each $side in $sides {
		.m-#{str-slice($side, 0, 1)}-#{$space} {
			margin-#{$side}: #{$space}px !important;
		}
		.p-#{str-slice($side, 0, 1)}-#{$space} {
			padding-#{$side}: #{$space}px !important;
		}
	}
}

@each $profile, $bgcolor in $gamagrises {
	.textc-#{$profile}{
		color: $bgcolor !important;
	}
	.bg-#{$profile}{
		background:$bgcolor  !important;
		border-color:$bgcolor !important;
		color:map-get( $colors, blanco);

  }
  .btn-#{$profile}{
		background:$bgcolor  !important;
		border-color:$bgcolor !important;
		color:map-get( $colors, blanco);

  }
  .btn-outline-#{$profile}{
	  color:$bgcolor;
	  background: transparent !important;
	  border-color: $bgcolor !important;
	  border-radius: 0px !important;
	  transition: all 0.5s;
	  &:hover{
	  	 color:map-get($colors,blanco);
	  	transition: all 0.5s;
		  background:rgba($bgcolor,1)!important ;
	  	border-color: $bgcolor !important;
	  }
	}
}
@each $profile, $bgcolor in $colors {
	.bg-#{$profile}{
		background:$bgcolor  !important;
		border-color:$bgcolor !important;
		color:map-get( $colors, blanco);
	}
	.textc-#{$profile}{
		color:$bgcolor !important;
	}
	.btn-outline-#{$profile}{
	  color:$bgcolor;
	  background: transparent !important;
	  border-color: $bgcolor !important;
	  border-radius: 0px !important;
	  transition: all 0.5s;
	  &:hover{
	  	color:map-get($colors,blanco);
	  	transition: all 0.5s;
		  background:rgba($bgcolor,1) !important ;
	  	border-color: $bgcolor !important;
	  }
	}

	.btn-#{$profile}{
	  color:map-get($colors,blanco);
	  background: $bgcolor !important;
	  border-color: $bgcolor !important;
	  border-radius: 0px !important;
	  transition: all 0.5s;
	  &:hover{
	  	 color:map-get($colors,blanco);
	  	transition: all 0.5s;
		  background:rbga($bgcolor,0.5)!important ;
	  	border-color: $bgcolor !important;
	  }
	}


}

.bg-transparent{
	background: transparent !important;
	border-color: transparent !important;
}
*:focus{
  outline: none;

}
.containerlogin{
  background: transparent url('../../../assets/img/fondo.png') center center no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  & .contCardLogin{
    background:rgba(255, 255, 255, 0.4545);
border: 2px solid #FFFFFF;
border-radius: 85px;
opacity: 1;
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(30px);
  }
  & input{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: inset 12px 18px 6px #CBCBCB, 0px 3px 16px #646464;
    border: 4px solid #FFF5F9;
    border-radius: 72px;
    text-align: center;
    color: map-get($colors, fuchsia );
    font-size: 1.2rem;
    &::placeholder {
      color: map-get($colors, fuchsia );
    }
    &:focus{
      color: map-get($colors, fuchsia );
    }
  }
  & .button-principal{
    width: 100%;
    padding: 15px 60px;
    background: transparent linear-gradient(90deg, #B62E72 0%, #FF006F 49%, #B62E72 100%) 0% 0% no-repeat padding-box;
    border-radius: 72px;
    opacity: 1;
    font-size: 1.5rem;
    color:#fff;
    font-family: map-get($fonts, helveticaneuelight );
  }
}
.curser-p{
  cursor: pointer;
}
.pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  width: 100%;
  margin-top: 20px;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:transparent linear-gradient(90deg, #B62E72 0%, #FF006F 49%, #B62E72 100%) 0% 0% no-repeat padding-box;;
  will-change: transform;
  border-radius: 50px;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3,.7,.4,1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: transparent linear-gradient(80deg, #DE2B79 100%, #EB5E50 48%, #FFBA00 100%) 0% 0% no-repeat padding-box;
  border-radius: 50px;
  filter: blur(0px);
}

.front {
  display: block;
  position: relative;
  width: 100%;
  padding: 12px 62px;
  border-radius: 50px;
  font-size: 1.25rem;
  color: white;
  background: transparent linear-gradient(90deg, #B62E72 0%, #FF006F 49%, #B62E72 100%) 0% 0% no-repeat padding-box;
  border: 1px solid #FFFFFF;
  will-change: transform;

  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3,.7,.4,1);
}

.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3,.7,.4,1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3,.7,.4,1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}

.inpuitgropsearch{
  background: transparent linear-gradient(180deg, #CBCBCB 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #CBCBCB 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
    border: 2px solid #FFFFFF;
    border-radius: 42px;
    backdrop-filter: blur(30px);
  & .inputSearch, & .input-group-text{
    background: transparent;
    border-color: transparent;
  }
  & .input-group-text{
    cursor: pointer;
  }

}

.buttonRardi{
  border-radius: 50px;
  padding: 10px 40px;
  font-size: 1.2rem;
  background: transparent linear-gradient(97deg, #E3001B 0%, #000000 100%) 0% 0% no-repeat padding-box;
  color:white
}

.btn-flitrado{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #000000 0% 0% no-repeat padding-box;
border: 2px solid #FFFFFF;
border-radius: 29px 0px 0px 29px;
}


