
<mat-drawer-container class="containerGeneral" [hasBackdrop]="'true'"  >
  <mat-drawer  #drawer class="containerGeneral__menu" mode="side" (openedChange)="closeMenu($event)">
    <app-menu></app-menu>
  </mat-drawer>
  <router-outlet />
</mat-drawer-container>





<ngx-loading
    [show]="loading"
    [config]="{ animationType: ngxLoadingAnimationTypes.rectangleBounce,
        backdropBackgroundColour: 'rgba(255,255,255,0.3)', backdropBorderRadius: '10px',
        primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff' }"

  ></ngx-loading>
