


<ul class="list-group ">
  <li class="list-group-item text-helveticaneuelight-700 textf-15">
    <a [routerLink]="['lista','cordinador']">Gerentes</a>
  </li>
  <li class="list-group-item text-helveticaneuelight-700 textf-15">
    <a [routerLink]="['lista','doctor']"  >Doctores</a>
  </li>
  <li class="list-group-item text-helveticaneuelight-700 textf-15">
    <a [routerLink]="['lista','mercadeo']" >MKDO</a>
  </li>
  <li class="list-group-item text-helveticaneuelight-700 textf-15">
    <a href="">Carta Invitación</a>
  </li>
  <li class="list-group-item text-helveticaneuelight-700 textf-15">
    <a href="">Confirmación</a>
  </li>
  <li class="list-group-item text-helveticaneuelight-700 textf-15">
    <a href="">Pase de Abordar Ida</a>
  </li>
  <li class="list-group-item text-helveticaneuelight-700 textf-15">
    <a href="">Pase de Abordar vuelta</a>
  </li>
  <li class="list-group-item text-helveticaneuelight-700 textf-15">
    <a href="">Agenda</a>
  </li>
  <li class="list-group-item text-helveticaneuelight-700 textf-15">
    <span class="">Cerrar Sesión</span>
  </li>
</ul>
