<mat-card class="cardGerneral" (click)="senndDAta(data?.id)">
  <mat-card-header class="d-flex justify-contentent-center">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <img class="avatarc" mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
        </div>
        <div class="col-12 text-center m-t-20">
          <mat-card-title>{{data?.nombre}} {{data?.apPaterno}} {{data?.apMaterno}}</mat-card-title>
        </div>
      </div>
    </div>
  </mat-card-header>
</mat-card>
